
ul {
  list-style-type: none;
}
.today{
    display: flex;
    flex-direction: column;
}
#today-section {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   
    padding-left: 10px;
    height: 160px;
    border: 2px solid #969696;
    background: white;
}
.card {
    display: inline;
}
.card-deck {
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
}
.card-block {
  background-color: gray;
  padding: 5px;
  color: white;
}
.input-group-append {
  border-bottom: 1px solid black;
  padding: 2rem;
}
.city-button {
  border-style: solid black;
  margin-top: 10px;
  margin-left: -20px;
  width: 100%;
  padding: 8px;
}
#search-button {
  text-align: center;
  margin-top: -20px;
  background-color: gray;
  color: white;
  width: 100%;
}
input {
  width: 100% !important;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
}
/* form {
  border: 2px solid blue;
  width: 100% !important;
} */