
ul {
  list-style-type: none;
}
.today{
    display: flex;
    flex-direction: column;
}
#today-section {
  display: none; /* hide today section on load */
  align-items: center;  
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* background-color: gray; */
    padding-left: 10px;
    height: 160px;
    border: 2px solid #969696;
    background: grey;
}
#today-icon {
  margin-left: 10px;;
}
#forecast-section {
  display: none; /* hide 5-day forecast section on load */
}
.card {
  display: inline;
}
.card-deck {
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
}
.card-block {
  background-color: gray;
  padding: 5px;
  color: white;
}
.input-group-append {
  border-bottom: 1px solid black;
  padding: 2rem;
}
#search-button {
  text-align: center;
  margin-top: -20px;
  background-color: gray;
  border-color: black;
  color: white;
  width: 100%;
  border-radius: 5px;
}
#clear-button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
  border-color: black;
  color: white;
  width: 100%;
  border-radius: 5px;
}
.city-button {
  border-style: solid black;
  margin-top: 10px;
  margin-left: -20px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
input {
  width: 100% !important;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}